*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
header {
    height: 5px;
    background-color: transparent;
    position: relative;
    padding: 1rem;
}
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
    position: absolute;
    margin-top: -30px;
    margin-left: 10px;
    font-size: 20px;

}
nav ul > a {
    text-decoration: none;
    margin-left: 35px;
    color: black;
    
}
body > header > div:nth-child(2) {
    margin-left: 1725px;
    margin-top: -30px;    
    font-size: 20px;    
}
body > header > div:nth-child(3)  {
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    width: 200px;
    margin-left: 1475px;
    margin-top: -30px;
    height: 30px;
}
body > header > div:nth-child(3) > img {
    height: 25px;
    width: 25px;
    margin-top: 1px;
    margin-left: 165px;
}
body > header > div:nth-child(4) {
    background-color: black;
    height: 5px;
    margin-top: 20px;
    width: 1770px;
    margin-left: 40px; 
}
body > header > nav > div > a{
    color: black;
    font-size: 30px;
    display: inline-flex;
    text-decoration: none;
    align-self: center;
    font-weight: bold;
    margin-top: 5px;
}
body > header > nav > div  > a > div > img {
    height: 35px;
    width: 35px;
}
.home img {
    width: 1900px;
    height: 650px;
    margin-left: -35px
}
.home {
    display: flexbox;
    color: white;
    font-size: 50px;
    margin-bottom: 200px;
}
.first-list {
    margin-top: -600px;
    margin-bottom: 300px;
    margin-left: 30px;
}
.second-list {
    margin-top: -70px;
    margin-left: 1500px;
}
main {
    height:10500px;
    margin: 1rem auto;
    width: 100%;
    margin-top: 2.5rem;
    padding: 2rem;
}
h1 {
    font-size: 50px;
    margin-left: 120px;
}
.line-horizontal {
    background-color: black;
    height: 5px;
    width: 990px;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 10px;
}
.first-paragraph {
    margin-left: 170px;
    margin-top: -760px;
    font-size: 25px;
    width: 929px;
}
.second-paragraph, .third-paragraph {
    width: 465px;
    margin-left: 31.25%;
    margin-right: 68.75%;
    font-size: 25px;
}
.second-paragraph {
    margin-top: -530px;
}
.third-paragraph{
    margin-top: 50px;
}
.about_tall {
    margin-left: 1140px;
    margin-top: 20px;
    width: 35%;
    height: 780px;
}
.about_short {
    width: 25%;
    margin-top: 70px;
    height: 520px;
    margin-left: 35px;
}
h2 {
    margin-top: 300px;
    font-size: 50px;
    margin-left: 120px;
}
body > footer > p:nth-child(9) {
    margin-left: 1450px;
}
body > footer > p:nth-child(8) {
    margin-left: 1150px;
    margin-bottom: -30px;
}
body > footer > p:nth-child(4) {
    margin-left: 800px;
}
footer {
    background-color: green;
    height: 225px;
    bottom: 0px;
    display: inline-flex;
}