*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
header{
    height: 5px;
    background-color: transparent;
    position: relative;
    padding: 1rem;
}
nav{
    text-align: center;
}
nav ul{
    list-style-type: none;
    position: absolute;
    margin-top: -30px;
    margin-left: 10px;
    font-size: 20px;

}
nav ul > a {
    text-decoration: none;
    margin-left: 35px;
    color: black;
    
}
body > header > div:nth-child(2) {
    margin-left: 1725px;
    margin-top: -30px;    
    font-size: 20px;    
}
body > header > div:nth-child(3)  {
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    width: 200px;
    margin-left: 1475px;
    margin-top: -30px;
    height: 30px;
}
body > header > div:nth-child(3) > img {
    height: 25px;
    width: 25px;
    margin-top: 1px;
    margin-left: 165px;
}
body > header > div:nth-child(4) {
    background-color: black;
    height: 5px;
    margin-top: 20px;
    width: 1770px;
    margin-left: 40px; 
}
body > header > nav > div > a{
    color: black;
    font-size: 30px;
    display: inline-flex;
    text-decoration: none;
    align-self: center;
    font-weight: bold;
    margin-top: 5px;
}
body > header > nav > div  > a > div > img {
    height: 35px;
    width: 35px;
}
body > main > section.contact > div:nth-child(6) {
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    height: 100px;
}
body > main > section.contact > div:nth-child(4) {
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    height: 100px;
}
.home img {
    width: 1900px;
    height: 650px;
    margin-left: -225px
}
.home{
    display: flexbox;
    color: white;
}
h2, h3, h4 {
    font-size: 20px;
}
h2 {
    margin-top: -450px;
}
h4 {
    margin-bottom: 300px;
}
main{
    height:10500px;
    margin: 1rem auto;
    width: 80%;
}
main section {
    margin-top: 2.5rem;
    padding: 2rem;
}
.about {
    margin-top: 80px;
}
body > footer > p:nth-child(9) {
    margin-left: 1450px;
}
body > footer > p:nth-child(8) {
    margin-left: 1150px;
    margin-bottom: -30px;
}
body > footer > p:nth-child(4) {
    margin-left: 800px;
}
footer{
    background-color: green;
    height: 225px;
    bottom: 0px;
    display: inline-flex;
}