*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
header {
    height: 5px;
    background-color: transparent;
    position: relative;
    padding: 1rem;
}
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
    position: absolute;
    margin-top: -30px;
    margin-left: 10px;
    font-size: 20px;

}
nav ul > a {
    text-decoration: none;
    margin-left: 35px;
    color: black;
    
}
body > header > div:nth-child(2) {
    margin-left: 1725px;
    margin-top: -30px;    
    font-size: 20px;    
}
body > header > div:nth-child(3)  {
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    width: 200px;
    margin-left: 1475px;
    margin-top: -30px;
    height: 30px;
}
body > header > div:nth-child(3) > img {
    height: 25px;
    width: 25px;
    margin-top: 1px;
    margin-left: 165px;
}
body > header > div:nth-child(4) {
    background-color: black;
    height: 5px;
    margin-top: 20px;
    width: 1770px;
    margin-left: 40px; 
}
body > header > nav > div > a{
    color: black;
    font-size: 30px;
    display: inline-flex;
    text-decoration: none;
    align-self: center;
    font-weight: bold;
    margin-top: 5px;
}
body > header > nav > div  > a > div > img {
    height: 35px;
    width: 35px;
}
.home img {
    width: 1900px;
    height: 650px;
    margin-left: -35px
}
.home {
    display: flexbox;
    color: white;
    font-size: 50px;
    margin-bottom: 200px;
}
.first-list {
    margin-top: -600px;
    margin-bottom: 300px;
    margin-left: 30px;
}
.second-list {
    margin-top: -70px;
    margin-left: 1500px;
}
main {
    height:10500px;
    margin: 1rem auto;
    width: 100%;
    margin-top: 2.5rem;
    padding: 2rem;
}
h1 {
    font-size: 50px;
    margin-left: 120px;
}
.line-horizontal {
    background-color: black;
    height: 5px;
    width: 990px;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 10px;
}
.first-paragraph {
    margin-left: 170px;
    margin-top: -760px;
    font-size: 25px;
    width: 929px;
}
.second-paragraph, .third-paragraph {
    width: 465px;
    margin-left: 31.25%;
    margin-right: 68.75%;
    font-size: 25px;
}
.second-paragraph {
    margin-top: -530px;
}
.third-paragraph{
    margin-top: 50px;
}
.about_tall {
    margin-left: 1140px;
    margin-top: 20px;
    width: 35%;
    height: 780px;
}
.about_short {
    width: 25%;
    margin-top: 70px;
    height: 520px;
    margin-left: 35px;
}
h2 {
    margin-top: 200px;
    font-size: 50px;
    margin-left: 120px;
}
.product_image {
    margin-left: 150px;
    margin-top: 120px;
    margin-bottom: 40px;
    width: 410px;
    height: 440px;
}
.product_price, .product_name, .product_price_11, .product_price_9, .product_price_15, .product_price_14, .product_price_8, .product_price_16 {
   margin-top: 100px;
   font-size: 30px; 
   color: black;
}
.product_name {
    margin-left: 150px;
}
.product_price {
    margin-left: 95px;
}
.product_price_11 {
    margin-left: 80px;
}
.product_price_9{
    margin-left: 110px;
}
.product_price_15{
    margin-left: 152px;
}
.product_price_14 {
    margin-left: 122px;
}
.product_price_16 {
    margin-left: 139px;
}
.small-line-horizontal {
    background-color: black;
    height: 5px;
    width: 270px;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 30px;
}
.product_description {
    font-size: 25px;
    width: 395px;
    margin-left: 150px;
    margin-bottom: 30px;
    color: black;
}
.learn_more {
    font-size: 25px;
    color: rgb(191, 118, 49);
    margin-left: -412px;
    text-decoration: underline;
}
.add_button {
    margin-left: 80px;
    background-color: rgb(191, 118, 49);
    color: white;
    border-style: hidden;
    font-size: 25px;
    margin-top: 40px;
}
.product_clickables {
    display: inline-block;
    margin-top: -50px;
    margin-bottom: 30px;
}
body > footer > p:nth-child(9) {
    margin-left: 1450px;
}
body > footer > p:nth-child(8) {
    margin-left: 1150px;
    margin-bottom: -30px;
}
body > footer > p:nth-child(4) {
    margin-left: 800px;
}
footer {
    background-color: green;
    height: 225px;
    bottom: 0px;
    display: inline-flex;
}