*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
header {
    height: 5px;
    background-color: transparent;
    position: relative;
    padding: 1rem;
}
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
    position: absolute;
    margin-top: -38px;
    margin-left: 10px;
    font-size: 20px;

}
nav ul > a {
    text-decoration: none;
    margin-left: 35px;
    color: black;
    
}
body > header > div:nth-child(2) {
    margin-left: 1725px;
    margin-top: -35px;    
    font-size: 20px;    
}
body > header > div:nth-child(3)  {
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    width: 400px;
    margin-left: 1275px;
    margin-top: -32px;
    height: 30px;
}
body > header > div:nth-child(3) > img {
    height: 25px;
    width: 25px;
    margin-top: 1px;
    margin-left: 365px;
}
body > header > div:nth-child(4) {
    background-color: black;
    height: 5px;
    margin-top: 20px;
    width: 1770px;
    margin-left: 40px; 
}
body > header > nav > div > a{
    color: black;
    font-size: 30px;
    display: inline-flex;
    text-decoration: none;
    align-self: center;
    font-weight: bold;
    margin-top: 2px;
}
body > header > nav > div  > a > div > img {
    height: 35px;
    width: 35px;
}
.home img {
    width: 1900px;
    height: 650px;
    margin-left: -35px
}
.home {
    display: flexbox;
    color: white;
    font-size: 50px;
    margin-bottom: 200px;
}
.first-list {
    margin-top: -600px;
    margin-bottom: 300px;
    margin-left: 30px;
}
.second-list {
    margin-top: -70px;
    margin-left: 1500px;
}
main {
    height:5700px;
    margin: 1rem auto;
    width: 100%;
    margin-top: 2.5rem;
    padding: 2rem;
}
h1 {
    font-size: 50px;
    margin-left: 120px;
}
.line-horizontal {
    background-color: black;
    height: 5px;
    width: 990px;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 10px;
}
.first-paragraph {
    margin-left: 170px;
    margin-top: -760px;
    font-size: 25px;
    width: 929px;
}
.second-paragraph, .third-paragraph {
    width: 465px;
    margin-left: 31.25%;
    margin-right: 68.75%;
    font-size: 25px;
}
.second-paragraph {
    margin-top: -530px;
}
.third-paragraph{
    margin-top: 50px;
}
.about-tall {
    margin-left: 1140px;
    margin-top: 20px;
    width: 35%;
    height: 780px;
}
.about-short {
    width: 25%;
    margin-top: 70px;
    height: 520px;
    margin-left: 35px;
}
h2, h3 {
    margin-top: 200px;
    font-size: 50px;
    margin-left: 120px;
}
.product-image {
    margin-left: 150px;
    margin-top: 120px;
    margin-bottom: 40px;
    width: 410px;
    height: 440px;
}
.product-price, .product-name, .product-price-2, .product-price-3, .product-price-4, .product-price-5, .product-price-6 {
   margin-top: 100px;
   font-size: 30px; 
   color: black;
}
.product-name {
    margin-left: 150px;
}
.product-price {
    margin-left: 95px;
}
.product-price-2 {
    margin-left: 80px;
}
.product-price-3{
    margin-left: 110px;
}
.product-price-4{
    margin-left: 152px;
}
.product-price-5 {
    margin-left: 122px;
}
.product-price-6 {
    margin-left: 139px;
}
.small-line-horizontal {
    background-color: black;
    height: 5px;
    width: 270px;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 30px;
}
.product-description {
    font-size: 25px;
    width: 395px;
    margin-left: 150px;
    margin-bottom: 30px;
    color: black;
}
.learn-more {
    font-size: 25px;
    color: rgb(191, 118, 49);
    margin-left: -412px;
    text-decoration: underline;
}
.add-button {
    margin-left: 53px;
    background-color: rgb(191, 118, 49);
    color: white;
    border-style: hidden;
    font-size: 25px;
    margin-top: 40px;
    height: 40px;
    width: 190px;
}
.product-clickables {
    display: inline-block;
    margin-top: -50px;
    margin-bottom: 30px;
}
.email-box {
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    width: 1000px;
    margin-top: 30px;
    height: 60px;
}
.email-container {
    margin-left: 430px;
    margin-top: 50px;
    font-size: 30px;
}
.message-box {
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    width: 1000px;
    margin-top: 30px;
    height: 220px;
}
.message-container {
    margin-left: 430px;
    margin-top: 30px;
    font-size: 30px;
}
.send-button {
    margin-left: 1280px;
    background-color: rgb(191, 118, 49);
    color: white;
    border-style: hidden;
    font-size: 25px;
    margin-top: 80px;
    width: 150px;
    height: 40px;
}
footer {
    background-color: rgb(191, 118, 49);
    height: 160px;
    display: inline-flex;
    width: 100%;
}
body > footer > div > a {
    color: black;
    font-size: 35px;
    display: inline-flex;
    text-decoration: none;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 180px;
}
.youtube-icon {
    margin-left: 460px;
    margin-top: 20px;
}
.facebook-icon {
    margin-top: 20px;
    margin-left: 20px;
}
.twitter-icon {
    margin-left: 123px;
    margin-top: 20px;
}
.insta-icon {
    margin-top: 20px;
    margin-left: 20px;
}
.footer-notes {
    display: inline-flex;
    margin-top: 120px;
    font-size: 22px;
}
.footer-left {
    margin-left: -1020px;
}
.footer-mid {
    margin-left: 225px;
}
.footer-right {
    margin-left: 180px;
}
.footer-icon {
    margin-top: -20px
}